# Playwright Specific
test-results/
allure-results/
allure-report/
playwright-report/

# Node
node_modules/

# IDE - VSCode
.vscode/*

# Configuration, JSON and md files 
# **/*config.js 
**/*.json
**/*.md